@page "/chat"
@using ChatOnline.Data
@using ChatOnline.Shared
@inject DataContext DataContext
@inject UserContext UserContext


    @if (!chatIsOpened)
    {
        <div>
            <UsersListComponent OnOpen="OpenChat"></UsersListComponent>
        </div>
    }
    
    @if (chatIsOpened)
    {
        <div>
            <ChatComponent OnClose="CloseChat"></ChatComponent>
        </div>
    }
    



@code {
    private bool chatIsOpened = false;

    private void OpenChat()
    {
        chatIsOpened = true;
    }

    private void CloseChat()
    {
        chatIsOpened = false;
    }
}
