@page "/chat"
@using ChatOnline.Data
@using ChatOnline.Shared
@inject DataContext DataContext
@inject UserContext UserContext

<div class="chat-page">
    <div>
        <UsersListComponent></UsersListComponent>
    </div>
        
    <div>
        <ChatComponent></ChatComponent>
    </div>

</div>

@code {
    
}
