@page "/"
@using ChatOnline.Data
@inject NavigationManager NavManager
@inherits db_connection

<PageTitle>chat.online</PageTitle>

<div class="container">
    <img src="https://img.freepik.com/free-vector/chat-conversation-mobile-phone-screen-tiny-people-group-persons-chatting-messenger-flat-vector-illustration-social-media-community-concept-banner-website-design-landing-web-page_74855-21724.jpg?t=st=1713729665~exp=1713733265~hmac=cf4a76f03aa7db372eb933fc64de24efbe9fb54751420c0a62406e7f19fbbded&w=2000" class="banner-img" alt="chat">
</div>



@code {

}
